.modular-intro {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.modular-details {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.modular-projects {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.modular-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.modular-first {
  padding-top: 8rem;
}

.v-center {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: min-content;
}

.h-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.h-center-text {
    text-align: center;
}

.center-headings h1, .center-headings h2, .center-headings h3, .center-headings h4, .center-headings h5, .center-headings h6 {
    text-align: center;
}

.no-child-v-margins > :first-child {
    margin-top: 0;
}

.no-child-v-margins > :last-child {
    margin-bottom: 0;
}

.padding-s {
    padding: 1rem;
}

.padding-s-top {
  padding-top: 1rem;
}

.padding-m {
    padding: 2rem;
}

.padding-m-top {
  padding-top: 2rem;
}

.padding-l {
    padding: 4rem;
}

.padding-l-top {
  padding-top: 4rem;
}

.col-gap-m {
    padding-left: 2rem;
}

.bg-blue {
    background: #3085ee; 
    color: #f8f9fa;
}

.detail-icon-size {
    font-size: 750%; 
    width: 1.7em; 
    height: 1.7em; 
    padding: 0.1em 0;
}

.email-btn {
  position: relative;
  font-size: 125%;
  display: inline-block;
  border-radius: 0.1rem;
  margin: 2rem 0;
}

.email-btn:hover {
  background: #2075de; 
  color: #e8e9ea;
}

.email-btn__icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 150%;
  padding: 0.5em 0.25em 0.5em 0.5em;
}

.email-btn__txt {
  display: table-cell;
  vertical-align: middle;
  padding: 0.4em 0.5em 0.5em 0.25em;
}

.no-underline, .no-underline:hover, .no-underline a, .no-underline a:hover {
  text-decoration: none;
}

.divider {
    height: 0.1em;
    width: 50%;
    background: #d8d9da;
    display: block;
    margin: 1em auto;
    border: none;
}

.bg-alt {
    background: #ffffff !important;
}

.tile { /* all project tiles */
  position: relative;
  width: 12rem;
  height: 12rem;
  background-position: 0 0;
  background-size: 12rem 12rem;
  border-radius: 0.1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding: 0;
  margin: 0.5rem;
}

.tile:hover {
  background-position: -0.5rem -0.5rem;
  background-size: 13rem 13rem;
}

.tile__overlay { /* project tile overlay -- shows img normally w/o txt */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.1rem;
  color: rgba(0,0,0,0); /* transparent txt */
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.tile__overlay:hover { /* project tile overlay -- grays out img, shows txt */
  background-color: rgba(0, 0, 0, 0.8); /* translucent gray overlay */
  color: white;
}

.tile__overlay:hover h4 {
  color: white;
}

.tile__txt h4 { /* title txt on project tiles -- shows on hover */
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 1.4em;
  color: rgba(0,0,0,0); /* transparent txt */
}

.tile__txt { /* txt on project tiles -- shows on hover */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: left;
  font-size: 0.9em;
}

.justify-center {
  justify-content: space-evenly;
}

.intro-links {
  font-size: 1rem;
  margin-top: 1.2rem;
}

.intro-links a {
  color: #3a414e;
}

.intro-links a:hover {
  color: #3085ee;
}

.intro-links i {
  margin-right: .5rem;
}