<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>&copy; 2019 <a href="https://jasoncarloscox.com">Jason Cox</a> | Created with <a href="https://getgrav.org">Grav</a></p>
    </section>
</section>
